<% @title = "Home" %>

<div class="post">

    <% @posts.each do |post| %>
      <h1 id="post"><%= post.title %></hl>
      <h3 class="entry">by Admin on <%= post.created_at.to_s(:custom) %></h3>
      <%= image_tag post.photo.url, :class=> "upload" %><br />
      <%= truncate_post_with_expand(post.text, 400).html_safe %>
      <hr />
    <% end %>
  
</div>
