<% @title = "What is clean eating?" %>
<%= image_tag("produce.jpg", :alt => "Veggies and Fruits!", :class=>"center")%>

<p>I was introduced to the terms “clean eating” only about a year ago. After spending countless hours browsing the internet for healthy eating sites, I came across Tosca Reno’s “Eat-Clean-Diet”. The more I read, the more it all just seemed to make sense. Instead of a diet that focuses on eliminating whole food groups, clean eating encourages a lifestyle change to include removing that which is bad for your body and replacing it with that which is beneficial.</p>

<p>To me, eating clean is getting back to the foods nature had intended us to eat – veggies, grains, legumes, fruits. It means eating whole foods in their natural state and not foods that have been processed, enhanced or altered in an artificial way.</p>

<p>I have since read and researched a lot on this topic and I read somewhere once that one should only shop the perimeter of grocery stores as this is generally where fresh ingredients are located. This has always resonated with me and I believe it to be true.</p>
