<%= link_to("Back to List", admin_posts_path, :class => 'back_link') %>

<h1>Update post</h1>

<%= form_for(@post, :url => {:action => 'update', :id => @post.id}) do |post| %>
 
<%= render :partial => "layouts/form", :locals => { :post => post } %>

  <div class="actions">
    <%= submit_tag "Update Post" %>
  </div>
<% end%>