#content.admin {
	float: none;
	width: 700px;
}
.flash {
	color: green;
	margin: 10px;
}
.upload {
	border: 1px solid black;
}
.upload_thumbnail {
	height: 100px;
	width: 100px;
	border: 1px solid black;
	
}