#content.admin {
	float: none;
	width: 700px;
}
.flash {
	color: green;
	margin: 10px;
}
.upload {
	border: 1px solid black;
}
.upload_thumbnail {
	height: 100px;
	width: 100px;
	border: 1px solid black;
	
}
.odd {
	background-color: #DFF;
}
.listing{
	border: 1px solid black;
	tr{
		border: 1px solid black;
	}
	td{
		padding: 2px 10px;
	}
}
#errorExplanation {
	border: 1px solid black;
	h2{
		background-color: red;
		border-bottom: 1px solid black;
		color: white;
		padding: 5px;
	}
	p{
		padding: 5px;
	}
	ul{
		padding: 5px;
		color: red;
	}
}