#footer {
	color: #2770e7;
	font-size: 13px;
	padding-bottom: 34px;
	padding-top: 11px;
	clear: both;
	text-align: center;
	display: block;
	z-index: 0;
}
#signature {
	font-size: 17px;
	font-family: cursive;
}