/* 
Marsha Gospodarek
*/

$white: #fff;

body {
	background-color: white;
	margin-top: -20px;
	
	font: {
    family: "Trebuchet MS",Tahoma,Verdana,sans-serif;
    size: 1 em;
  }	
}
.container {
  width: 860px;
	background-color: $white;	
  margin: {
    right: auto;
    left: auto;
  }
	border: {
	  left: 1px solid;
	  right: 1px solid;
	}
}
.header {
	padding-top: 15px;
  img{
  	z-index: 0;
  	margin-top: -194px;
  	margin-left: -592px;
  	position: absolute;	
  }
  h1 {
  	color: #303030;
  	font-family: 'century gothic';
		font-weight: 100;
  	margin-top: 30px;
  	padding-top: 26px;
  	padding-left: 10px;
  	font-size: 80px;
  }
  h2{
  	font-size: 22px;
  	margin-bottom: 15px;
		padding-top: 9px;
  	font-family: fantasy;
  }
}
.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.special{
	color: #76aa1f !important;
}
a:hover{
	color: #c41484;
}

.button{
	margin-top: 5px;
}
.back_link{
	text-decoration: none;
}
.page{
	color: green;
}
.sign_out_button{
	float: right;
}
/*-----------------Pagination----------------------*/

.pagination{
	text-align: center;
	a{
	text-decoration: none;
	padding: 5px;
	}
}

/*------------------Results Page---------------------*/
.results{
	h1{
		color: #76aa1f;
	}
	h2{
		border-bottom: dotted 1px #303030;
		margin-bottom: 20px;
		margin-top: 20px;
		
	}
	p{
		padding-bottom: 20px;
	}
}


/*------------------Recipes Page---------------------*/
.ingredients{
	h1{
	}
}
.ingredient_list{
	ul{
		padding: 20px 0px 0px 40px;
	}
	li{
		padding: 0px 0px 5px 0px;
		list-style-type: disc;
	}
	
}



/*------------------CONTENT AREA---------------------*/

#content {
	margin: 1px;
	line-height: 1.5em;
	padding: 36px 25px 15px 35px;
	float: left;
	color: #666666;
	list-style-position: outside;
	height: auto;
	min-height: 340px;
	text-align: left;
	width: 510px;
	font-size: 15px;
	h1{
		margin-bottom: 10px;
		font-size: 20px;
	}
	p{
		margin-top: 15px;
		margin-bottom: 10px;
		
	}	
}
#products ul li
{
	border-bottom-color: #232323;
	border-top-color: #282828;
	border-bottom-style: solid;
	border-top-style: solid;
	border-bottom-width: 1px;
	border-top-width: 1px;
	font-size: 17px;
	font-weight: bold;
}
/*-------------------Comments------------*/
.comments{
	margin-bottom: 20px;
	h2{
		margin-top: 20px;
		color: #76aa1f;
		padding-bottom: 0px !important;
		font-size: 16px !important;
	}
	p{
		margin-top: 8px !important;
		font-size: 12px !important;
		
	}
	.single_comment{
		padding: 0px 0px 5px 0px;
		font-size: 12px;
		.commenter{
			font-weight: bold;
			padding: 3px 0px 3px 10px;
			background-color: #EFEFEF;
			behavior: url(border-radius.htc);
		  border-radius: 10px;
		  -moz-border-radius: 5px;
			border-radius: 5px;
		}
		.comment_body{
			padding: 5px 0px 15px 15px;
		}
		.comment_date{
			font-size: 10px;
			padding-left: 15px;
		}
		.delete_comment{
			float: right;
		}
	}

}

/*-------------------IE hack for rounded corners------------*/

.rounded-corners {
  behavior: url(border-radius.htc);
  border-radius: 20px;
  -moz-border-radius: 15px;
	border-radius: 15px;
}
/*------------------------------CONTACT FORM---------------------*/
.field{
	margin-top: 5px;
	margin-bottom: 5px;
}
	
