// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post h1
{
	font-size: 20px;
	padding-bottom: 6px;
}
.post p
{
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 15px;
}
.post h3
{
	padding-top: 7px;
	font-family: fantasy;
	font-size: 11px;
	padding-left: 4px;
	color: #919191;
}

hr
{
	color: #c6c6c6;
	height: 1px;
}