// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
	padding: 10px 0px 15px 0px;
  h1 {
	  font-size: 22px;
	}
	h2{
		padding-bottom: 20px;
		font: {
			weight: bold;
			size: 20px;
		};
	}
  h3 {
		margin-top: -7px;
  	padding-left: 12px;
  	/*color: #919191;*/
		color: #669900;
  	font: {
  	  family: fantasy;
  	  size: 12px;
  	}
		
  }
	ul{
		padding: 20px 30px 30px 40px;
		background-color: #efefef;
	}
	li{
		
	}
}

hr
{
	color: #c6c6c6;
	height: 1px;
	margin: 20px 0px 20px 0px;
	width: 100%;
}
.upload {
	border: 5px solid black;
	margin-top: 17px;
	margin-bottom: 17px;
	display: block;
	margin-left: auto;
	margin-right: auto;	
	max-height:400px;
	max-width:400px;
}
