// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  h1 {
	  font-size: 20px;
	  padding-bottom: 6px;
	}
	p {
  	padding: 10px 20px 15px 0px;
  }
  h3 {
  	padding-top: 7px;
  	padding-left: 4px;
  	color: #919191;
  	font: {
  	  family: fantasy;
  	  size: 11px;
  	}
  }
}

hr
{
	color: #c6c6c6;
	height: 1px;
}