#sidebar 
{
  padding: 22px 0px 22px 22px;
	min-height: 240px;
	border-color: #8a8a8a;
	border-style: solid;
	border-left-width: 1px;
	width: 260px;
	float: right;
	background-color: #f2f6f3;
	font-size: 14px;
	p{
  	padding-top: 25px;
    }
}
#quote{
	padding: 20px 17px 20px 20px;
	margin: 10px 32px 10px 10px;
	border-color: #595959;
	border-style: dotted;
	border-width: 1px;
	background-color: $white;
}

#food_gallery{
	margin-top: 20px;
	text-align: center;
	height: 280px;
	width: 160px;
	border-color: #a69ca5;
	border-style: solid;
	border-width: 1px;
	margin-left: 40px;
	background-color: $white;
}
